<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Document</title>
</head>

  <!--  Thanks to frontendmentor.io for the challenge.  -->
  
<body>

  <div class="nft">
    <div class='main'>
      <img class='tokenImage' src="https://images.unsplash.com/photo-1621075160523-b936ad96132a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="NFT" />
      <h2>Predstava Sarmerice</h2>
      <p class='description'>Kerempuh</p>
      <div class='tokenInfo'>
        <div class="price">
          <p>5 €</p>
        </div>
        <div class="duration">
          <p>10.12.2024.</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>